@import url("./reset.css");

#wrap {
  text-align: center;
  margin: 0 auto;
  padding: 50px 0;
}

.margin-right-1 {
  margin-right: 5px;
}

.text-decoration {
  text-decoration: line-through;
}

.text-decoration-none {
  text-decoration: line-through;
}
