.container {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
}

.btn-nomal {
  width: 200px;
  border: 2px solid;
  border-radius: 10px;
}

.btn-reset {
  width: 200px;
  margin-top: 20px;
  background: rgb(255, 157, 157);
  border: 2px solid;
  border-radius: 10px;
}

.count-display {
  padding: 20px;
  font-size: 20px;
}