.container {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  border-radius: 10px;
}
.check-btn {
  text-align: right;
}
.contents {
  margin-right: 10px;
}